/* To begin, every section of the landing page is going to have a container class. Because of this we need to be grouping container with other classes to not confuse things */

/* We need to use the container class (which will count for every section) and give it a specified width and then use margin to center this container in the middle of the page */
.container {
  width: 1100px;
  margin: 0 auto;
}

.navbar {
  background: #1f2937;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
}

/* links class is holding all the links and we need to put it as display flex to change layout from horizontal to vertical. Also need to add a gap to space things out from each other */
.links {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

/* MOVING ONTO 2ND SECTION  */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* The items aren't aligning center in a vertical manner like we want. THe reason is that the height is actually set on the header, and not the container itself which holds the items. When we set height as 100%, the height will take up 100% of the header */
  height: 100%;
}

.header {
  /*Feel free to change background color to green to view separation between navbar and header */
  background: #1f2937;
  /* The header is taking up as much space as the content ie. the height of the header = height of the image. We need to make the actual header bigger in heights and center all the content in a vertical manner */
  height: 500px;
}

/* The content is spread out horizontally as the text isn't wrapping like it should. To counter this, we set a max-width on it */
.content {
  max-width: 370px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px 0px;
}

button {
  background-color: #3883f6;
  color: white;
  padding: 8px 25px;
  /* To get rounded edges */
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* MOVING ONTO 3RD SECTION */

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  /* This does not need to be flex. Easy to edit and center */
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
}

.body .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* Items were spread out too far apart so I restricted the width of the container */
  max-width: 700px;
}

/* Text beneath image was overflowing the sides of the image. We need it to stay under the image so let's set the width for the text */
.text {
 max-width: 100px;
}

/* Text was justified left under the images. We need to center text in the ENTIRE body class */
.body {
  text-align: center;
  background-color: green;
  height: 400px;
}

/* MOVING ONTO 4TH SECTION */
.quotesection .container {
  display: flex;
  max-width: 700px;
  /* The quote and the author is side by side, next to each other once display flex was put on. But we want the author to come beneath. So if we change flex direction to column, it goes beneath */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.author {
  align-self: flex-end;
}

h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  margin: 0;
}

.quotesection {
  background-color: #e5e7eb;
  /* The section before this one matches same height so copying height value from there and applying 100% height like before in order to get elements centered */
  height: 400px;
}

/* MOVING ONTO 5TH SECTION */

/* .action is holding THE ACTUAL BLUE CONTAINER. We want this container centered vertically and horizontally within the white action background. We need to put display flex in order to apply all these settings */
.action {
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Now have to take blue container and add display flex in order to get things to line up properly. This setup is a good example of a box within a box */
.bluecontainer {
  display: flex;
  /* Applying same width as section 1 & 2 */
  width: 1100px;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  background-color: #3883f6;
}

.actionbutton button {
  margin-right: 100px;
  border-color: white;
}

h4 {
  font-size: 22px;
  color:#e5e7eb;
  margin: 0;
}

.actiontext {
  margin-left: 100px;
}



